body{

font-family:Arial;
background:#0f172a;
color:white;
display:flex;
justify-content:center;
align-items:center;
height:100vh;

}

.card{

background:#111827;
padding:40px;
border-radius:10px;
text-align:center;
box-shadow:0 0 20px #00f7ff;

}

input{

padding:10px;
width:220px;
margin-bottom:15px;

}

button{

padding:10px 20px;
background:#00f7ff;
border:none;
cursor:pointer;

}
